= content_for :content do
  %h2 Sign Up
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    = simple_fields_for :organisation do |o|
      = o.input :name
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    = f.submit "Sign up"
  = render :partial => "devise/shared/links"
