= simple_form_for(@lead) do |f|
  = f.error_notification
  .inputs
    = f.input :company_name, :required => true
    = f.simple_fields_for :contact do |c|
      = c.input :first_name, :required => true
      = c.input :last_name
      = c.input :designation
      = c.input :email
      = field_set_tag "Contact Details" do
        = f.simple_fields_for :phones do |p|
          = p.input :phone_type, :collection => Phone::PHONE_TYPE
          = p.input :country_code
          = p.input :phone_number
      = field_set_tag "Address" do
        = f.simple_fields_for :addresses do |a|
          = a.input :street1
          = a.input :street2
          = a.input :city
          = a.input :country
          = a.input :zipcode
    = field_set_tag "Description" do
      = f.input :industry
      = f.input :status
      = f.input :source
      = f.input :website
      = f.input :description
  .actions
    = f.submit "Save Lead"