= simple_form_for(@lead) do |f|
  = f.error_notification
  = f.input :company_name, :required => true, :input_html => {:class => "span3"}
  = f.simple_fields_for :contacts do |c|
    = c.input :first_name, :required => true, :input_html => {:class => "clearfix"}
    = c.input :last_name, :input_html => {:class => "clearfix"}
    = c.input :designation, :input_html => {:class => "clearfix"}
    = c.input :email, :input_html => {:class => "clearfix"}
    = field_set_tag "Contact Details" do
      = f.simple_fields_for :phones do |p|
        = p.input :phone_type, :collection => Phone::PHONE_TYPE, :input_html => {:class => "clearfix"}
        = p.input :country_code, :input_html => {:class => "clearfix"}
        = p.input :phone_number, :input_html => {:class => "clearfix"}
    = field_set_tag "Address" do
      = f.simple_fields_for :addresses do |a|
        = a.input :street1, :input_html => {:class => "clearfix"}
        = a.input :street2, :input_html => {:class => "clearfix"}
        = a.input :city, :input_html => {:class => "clearfix"}
        = a.input :country, :input_html => {:class => "clearfix"}
        = a.input :zipcode, :input_html => {:class => "clearfix"}
  = field_set_tag "Description" do
    = f.input :industry, :input_html => {:class => "clearfix"}
    = f.input :status, :input_html => {:class => "clearfix"}
    = f.input :source, :input_html => {:class => "clearfix"}
    = f.input :website, :input_html => {:class => "clearfix"}
    = f.input :description,:input_html => {:class => "clearfix"}

  = f.submit "Save Lead"
