!!! XML
!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "en", "http-equiv" => "content-language"}/
    %meta{:content => "noindex,nofollow", :name => "robots"}/
    = stylesheet_link_tag  "reset.css","main.css","1col.css","2col.css","style.css"
    = javascript_include_tag "jquery","switcher","toggle","ui.core","ui.tabs"
    = csrf_meta_tags
    :javascript
      $(document).ready(function(){
      	$(".tabs > ul").tabs();
      });
    %title CRM lite
  %body
  #main
    / Tray
    #tray.box
      %p.f-left.box
        /Switcher
        %span#switcher.f-left
          %a.styleswitch.ico-col1{:href => "#", :rel => "1col", :title => "Display one column"}
            %img{:alt => "1 Column", :src => "switcher-1col.gif"}/
          %a.styleswitch.ico-col2{:href => "#", :rel => "2col", :title => "Display two columns"}
            %img{:alt => "2 Columns", :src => "switcher-2col.gif"}/
        %strong DEMO CORP
      .f-right
        = render 'devise/menu/registration_items'
        = render 'devise/menu/login_items'
    //tray
    %hr.noscreen/

    / Menu
    #menu.box
      %ul.box.f-right
        %li
          %a{:href => "#"}
            %span
              %strong Home »
      %ul.box
        %li#menu-active
          %a{:href => "#"}
            %span DashBoard
        / Active
        %li
          = link_to "Leads", leads_path
        %li
          = link_to "Prospects", prospects_path
    //header

    / Content (Right Column)
    #content.box
      = show_flash
      = yield :content
      = yield
    //content
    //cols
    %hr.noscreen/

    #footer.box
      %p.f-left
        \© 2009
        = succeed "," do
          %a{:href => "#"} Your Company
        All Rights Reserved ®
      %p.f-right
        Templates by
        %a{:href => "http://www.adminizio.com/"} Adminizio
    //footer
  //main
