!!!
%html
  %head
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %title CRM lite
  %body
    %div.topbar
      %div.fill
        %div.container
          = render "shared/menu"
    %div.container
      %div.content
        %div.page-header
          = render "shared/header"
        %div.row
          %div.span12
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
          = yield
        %footer
          = render "shared/footer"
