!!!
%html
  %head
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %title CRM Lite
  %body
    %div.navbar
      %div.navbar-inner
        %div.container
          = render "shared/menu"
    %div.container
      %div.content
        %div.page-header
          = render "shared/header"
        %div.row
          //= show_flash
          = yield
    %footer
      = render "shared/footer"
